{{ $url := .Get "url" }}
{{ $ident := now.Unix }}
{{ $height := default "600" (.Get "height") }}
{{ $width := default "600" (.Get "width") }}
<!-- prettier-ignore-start -->
{{ if not (.Page.Scratch.Get "bpmn") }}
  <!-- Include bpmn-js only first time -->
  <link rel="stylesheet" href="https://unpkg.com/bpmn-js@10.2.1/dist/assets/bpmn-js.css">
  <script src="https://unpkg.com/bpmn-js@10.2.1/dist/bpmn-viewer.development.js"></script>
  <script src="https://unpkg.com/jquery@3.3.1/dist/jquery.js"></script>
  <style>
    .bpmn-canvas {
      text-align: center;
      background-color: bisque;
      display: inline-block;
      align-content: center;
    }
    float-bpmn {
      display: inline-block;
      margin: auto;
    }
  </style>
  {{ .Page.Scratch.Set "bpmn" true }}
{{ end }}
<script defer>
  function openBPMN(url, div, height, width) {
    let viewer = new BpmnJS({
      container: $("#" + div),
      height: parseInt(height),
      width: parseInt(width),
      background: "#FFFFFF",
    });
    $.ajax("/" + url, { dataType : 'text' }).done(async function(xml) {
      try {
        await viewer.importXML(xml);
        viewer.get('canvas').zoom('fit-viewport');
      } catch (err) {
        console.error(err);
      }
    });
  }
</script>
<!-- prettier-ignore-end -->
<div class="bpmn-canvas" style="width: {{ $width }}">
  <div id="{{ $ident }}"  style="width: {{ $width }}" class="float-bpmn"></div>
</div>
<script defer>
  openBPMN('{{ $url }}', '{{ $ident }}', '{{ $height }}', '{{ $width }}')
</script>